<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#e5f7b2">
	<title>Guids | Billybobbeep</title>
  	<link href="/public/assets/css/min/global/footer.min.css" rel="stylesheet">
	<link href="/public/assets/css/min/global/header.min.css" rel="stylesheet">
	<link href="/public/assets/css/min/general/conatctForm.min.css" rel="stylesheet">
	<link href="/public/assets/css/min/general/home.min.css" rel="stylesheet">
	<link href="/public/assets/images/sloosh.png" rel="icon">

	<meta name="twitter:card" value="summary">
	<meta name="twitter:title" content="Billybobbeep">
	<meta name="twitter:description" content="Billybobbeep is a multipurpose Discord bot featuring moderation, economic, fun commands and much more.">
	<meta name="twitter:image" content="https://billybobbeep.tyler2p.repl.co/icon.png">

	<meta name="og:title" content="Billybobbeep" />
	<meta name="og:url" content="https://billybobbeep.tyler2p.repl.co/" />
	<meta name="og:description" content="Billybobbeep is a multipurpose Discord bot featuring moderation, economic, fun commands and much more.">
	<meta name="og:image" content="https://billybobbeep.tyler2p.repl.co/icon.png" />
</head>
<body>
    <script src="/public/assets/javascript/min/global/removeLinks.min.js"></script>
</body>
</html>