doctype
html(lang='en')
    head
        include ../includes/header.pug

        link(rel='stylesheet', href='/css/index.css')
    body
        .jumbotron.text-center.bg-transparent
            h1.display-3 400
            p.lead The server declined your request
            a.btn.btn-dark(onclick='window.location.reload()') Try Again
            a.btn.btn-dark(href='/') Return Home