doctype
html(lang='en')
    head
        include ../includes/header.pug

        link(rel='stylesheet', href='/css/index.css')
    body
        .jumbotron.text-center.bg-transparent
            h1.display-3 Login Required
            p.lead The page you attempted to access requires you to be logged in
            a.btn.btn-dark(href='/login') Login
            a.btn.btn-dark(href='/') Return Home